
.avatar,
.avatar::before,
.avatar input {
  cursor: pointer;
  overflow: hidden !important;
  display: block !important;
  height: 100px !important;
  width: 100px !important;
  border-radius: 5px;
}

.avatar {
  background-position: 50% 50%;
  background-color: #f0f0f0;
  background-size: cover;
  font-family: sans-serif;
  font-size: small;
}

.avatar::before {
    position: absolute;
    line-height: 100px;
    text-align: center;
    white-space: nowrap;
    content: 'upload image';
    color: #fff;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    transition: opacity 0.2s;
}

.avatar.drop::before,
.avatar:focus::before,
.avatar:hover::before {
    opacity: 1;
}

.avatar input {
    opacity: 0 !important;
}
